<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRD653s1-_u1M6iKGfiw_pifRbN-PxIOA</string>
	<key>GCM_SENDER_ID</key>
	<string>114217925705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>last1-7e34a</string>
	<key>STORAGE_BUCKET</key>
	<string>last1-7e34a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114217925705:ios:1ec2cb9e3e61b3c4825398</string>
</dict>
</plist>